@model IEnumerable<HyperWing.Models.Reiser>

@{
    ViewBag.Title = "ReiseListe";
}

<h2>ReiseListe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ByFra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ByTil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flyplass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avgangstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ankomstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reisetid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Informasjon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ByFra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ByTil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flyplass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avgangstid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ankomstid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reisetid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Informasjon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RId })
        </td>
    </tr>
}

</table>
